<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground_Gun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_Gun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{84,0},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_Gun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{82,79}</string>
                <key>textureRect</key>
                <string>{{166,0},{82,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_Gun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,83}</string>
                <key>spriteSourceSize</key>
                <string>{88,83}</string>
                <key>textureRect</key>
                <string>{{248,0},{88,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_Gun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{95,84}</string>
                <key>textureRect</key>
                <string>{{336,0},{95,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ground_Gun.png</string>
            <key>size</key>
            <string>{431,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a8b8aa31c58cf996ab929d49eb47cf:670d7fe2ddf26e46b2c7f2e0036aaac4:c24f800fbbe20ac77bc3449f8d2ad6eb$</string>
            <key>textureFileName</key>
            <string>ground_Gun.png</string>
        </dict>
    </dict>
</plist>
