<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1-removebg-preview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,138}</string>
                <key>spriteSourceSize</key>
                <string>{168,138}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2-removebg-preview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,146}</string>
                <key>spriteSourceSize</key>
                <string>{149,146}</string>
                <key>textureRect</key>
                <string>{{168,0},{149,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shark.png</string>
            <key>size</key>
            <string>{317,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c906c02709cc3a3311adb78b744b654:01f4ae9a32d88e286633ba20a81392c1:cb192b5cd921d36008a17864052c6b72$</string>
            <key>textureFileName</key>
            <string>shark.png</string>
        </dict>
    </dict>
</plist>
