<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,96}</string>
                <key>textureRect</key>
                <string>{{96,1},{102,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{200,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{298,1},{93,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{393,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{491,1},{93,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bat.png</string>
            <key>size</key>
            <string>{585,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85d6da1c933a5ec5e5ddc12ef0f35af8:cf8374e4c988924c89f96fab99f9fb6f:3635a72d107589e16c18bdcfc336e69b$</string>
            <key>textureFileName</key>
            <string>Bat.png</string>
        </dict>
    </dict>
</plist>
