<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite_EnemyBlackMove05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyBlackMove06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyBlackMove08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyUp.png</string>
            <key>size</key>
            <string>{1200,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f6f5d095094bbcd20a3232396385205:28d4a67dbe67c60b33190aecc2efab3a:c0eb42b32080e19fca8e680fa2336d13$</string>
            <key>textureFileName</key>
            <string>EnemyUp.png</string>
        </dict>
    </dict>
</plist>
