<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyBlackLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EnemyBlackLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyBlackLeft.png</string>
            <key>size</key>
            <string>{180,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca88bab94787e86f719d280a2a241897:50e034b0fe8e924f59bdbd66256c2110:43db82a0a89ef4e91c4c7fa1bbe11998$</string>
            <key>textureFileName</key>
            <string>EnemyBlackLeft.png</string>
        </dict>
    </dict>
</plist>
