<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite_EnemyMove04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyRedLeft.png</string>
            <key>size</key>
            <string>{1200,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afee2853e0894fb2b280f2adae19fe8d:c8a6618a285ed7376d8f6a0def16200b:30b5cb43b5016d686bb1b4d69ba09ce8$</string>
            <key>textureFileName</key>
            <string>EnemyRedLeft.png</string>
        </dict>
    </dict>
</plist>
