<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite_EnemyMove1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyRedUp.png</string>
            <key>size</key>
            <string>{1200,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:858ec7721cdec01e3630713ca8da1bd1:4ad2eb02e3cb153917645cd03653408d:6919a97c672e6465257fac2fa6974485$</string>
            <key>textureFileName</key>
            <string>EnemyRedUp.png</string>
        </dict>
    </dict>
</plist>
