<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite_EnemyMove01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyRedRight.png</string>
            <key>size</key>
            <string>{1200,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b90f3dd89606e5c7a82e02a27dbbfea:a59c1f1d28bc6572b588cb8d4f9af16b:8119ad04be5fcfdec3b9bcdc61c7dbe2$</string>
            <key>textureFileName</key>
            <string>EnemyRedRight.png</string>
        </dict>
    </dict>
</plist>
