<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite_EnemyMove05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprite_EnemyMove07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,422}</string>
                <key>spriteSourceSize</key>
                <string>{400,422}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyRedDown.png</string>
            <key>size</key>
            <string>{1200,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7772760603dc4fc987a2a90aff1a9544:0e22160b5a36e12c9b25b686d2dfc378:20968c8d2d531bd6698796c1b6da74cf$</string>
            <key>textureFileName</key>
            <string>EnemyRedDown.png</string>
        </dict>
    </dict>
</plist>
